<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Dashboard</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12 dashboard">
                    <div class="row">
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">Sales <span>| This Week</span></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cart"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%= sales %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Sales Card -->

                        <!-- Revenue Card -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="card-body">
                                    <h5 class="card-title">Revenue <span>| This Week</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-currency-rupee"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%= revenue %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Revenue Card -->

                        <!-- Customers Card -->
                        <div class="col-xxl-4 col-xl-12">

                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Customers <span>| This Week</span></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%= customer %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>/Past 7 days</span></h5>
                            <!-- Line Chart -->
                            <div id="reportsChart"></div>
                        </div>
                    </div>
                </div>
                <!-- pie chart -->
                <div class="card">
                    <div class="card-body pb-0">
                        <h5 class="card-title">Sales<span>| Overall</span></h5>
                
                        <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
                
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#trafficChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [{
                                            value: "<%= delivered %>",
                                            name: 'delivered'
                                        },
                                        {
                                            value: "<%= shipped %>",
                                            name: 'shipped'
                                        },
                                        {
                                            value: "<%= shipped %>",
                                            name: 'orderConfirmed'
                                        },
                                        {
                                            value: "<%= cancelled %>",
                                            name: 'cancelled'
                                        },
                                        {
                                            value: "<%= paymentFailed %>",
                                            name: 'Payment faild'
                                        },
                                        {
                                            value: "<%= returned %>",
                                            name: 'Returned'
                                        }

                                        ]
                                    }]
                                });
                            });
                        </script>
                
                    </div>
                </div>
            </main>

            <%- include("../layout/admin/footer.ejs") %>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [{
                                name: 'Sales',
                                data: ["<%= amount[0] %>", "<%= amount[1] %>", "<%= amount[2] %>", "<%= amount[3] %>", "<%= amount[4] %>", "<%= amount[5] %>","<%= amount[6] %>",],
                            }],
                            chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                    show: false
                                },
                            },
                            markers: {
                                size: 4
                            },
                            colors: ['#4154f1'],
                            fill: {
                                type: "gradient",
                                gradient: {
                                    shadeIntensity: 1,
                                    opacityFrom: 0.3,
                                    opacityTo: 0.4,
                                    stops: [0, 90, 100]
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                curve: 'smooth',
                                width: 2
                            },
                            xaxis: {
                                type: 'date',
                                categories: ["<%= date[0] %>", "<%= date[1] %>", "<%= date[2] %>", "<%= date[3] %>", "<%= date[4] %>", "<%= date[5] %>", "<%= date[6] %>",]
                            },
                            tooltip: {
                                x: {
                                    format: 'yyyy-MM-dd'
                                },
                            }
                        }).render();
                    });
                </script>