<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>
                    

            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Edit Product</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active">Edit Product</li>
                        </ol>
                    </nav>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit product</h5>
                        <!-- General Form Elements -->


                        <form action="/admin/editProduct/<%= productData._id %>" method="post">
                            <div class="row mb-3">
                                <labe for="" class="col-sm-2 col-form-label">Name</labe>
                                <div class="col-sm-10">
                                    <input type="text" name="productName" class="form-control"
                                        value="<%= productData.product_name %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">Brand</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="brand"
                                        value="<%= productData.brand %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" name="category">
                                        <option value="<%= productData.category._id %>" selected>
                                            <%= productData.category.categoryName %>
                                        </option>
                                        <% categoryData.forEach((c)=> { %>
                                            <option value="<%= c._id %>">
                                                <%= c.categoryName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="price"
                                        value="<%= productData.price %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">Stock</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="stock"
                                        value="<%= productData.stock %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px"
                                        name="description"><%= productData.description %></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">Images</label>
                                <div class="col-sm-10">
                                    <% productData.images.forEach(element => { %>
                                        
                                        <img src="/product_images/<%= element %>" alt=""
                                            style="height: 100px; width: 100px;" id="imgView-1">
                                    <% }); %>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit
                                        Image</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </main>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-header">
                            <% productData.images.forEach(element => { %>
                                <div class="container-delete">
                                    <img class="delete-img" src="/product_images/<%= element %>"alt="" />
                                
                                    <div class="overlay"></div>
                                    <div class="delete-button"><a href="/admin/delete-image/<%= element %>/<%= productData._id %>"><i class="fa fa-trash"></i> </a></div>
                                </div>
                                
                            <% }); %>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/editImage/<%= productData._id %>" method="post" enctype="multipart/form-data">
                                <div class="col-sm-10">
                                    <input class="form-control" multiple type="file" id="formFile" name="productImage">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
 
                    </div>
                </div>
            </div>

            <%- include("../layout/admin/footer.ejs") %>