<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
            <style>

            </style>
            <main id="main" class="main">
                
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success m-2" id="print">Print Report</button>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sales Report</h5>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Month</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quantity sold</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Change in Sales(%)</th>
                                    </tr>
                                </thead>
                                <% let prevMonthTotalSales=0 %>
                                    <% Object.entries(salesByMonthAndProduct).forEach(([month, products], index)=> { %>
                                        <% let monthTotalSales=0 %>
                                            <% Object.entries(products).forEach(([productName, {quantitySold,
                                                totalSales}])=> { %>
                                                <% monthTotalSales +=totalSales %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= month %>
                                                        </td>
                                                        <td>
                                                            <%= productName %>
                                                        </td>
                                                        <td>
                                                            <%= quantitySold %>
                                                        </td>
                                                        <td>
                                                            <%= totalSales %>
                                                        </td>
                                                        <td
                                                            class="<%= index === 0 ? '' : (monthTotalSales - prevMonthTotalSales) < 0 ? 'text-danger' : 'text-success' %>">
                                                            <%= index===0 ? 0 : (monthTotalSales -
                                                                prevMonthTotalSales)/100 %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% prevMonthTotalSales=monthTotalSales %>
                                                            <% }) %>

                            </table>

                        </div>

                    </div>
                </div>
            </main>
            <script>
                const printBtn = document.getElementById("print");
                printBtn.addEventListener("click", function () {
                    window.print();
                });
            </script>


            <%- include("../layout/admin/footer.ejs") %>