<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>
            <link href="/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>View Products</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">View Products</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">OrderID</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orderData.forEach((order,i)=> { %>

                                        <tr>
                                            <td scope="row">
                                                <%= order.orderId %>
                                            </td>
                                            <td>
                                                <% order.product.forEach(element=> { %>
                                                    <%= element.productId.product_name %> <br><br>
                                                        <% }); %>
                                            </td>
                                            <td>
                                                <% order.product.forEach(element=> { %>
                                                    <%= element.quantity %> <br><br><br><br>
                                                        <% }); %>
                                            </td>
                                            <td>
                                                <%= order.total %>
                                            </td>
                                            <td>
                                                <%= order.paymentType %>
                                            </td>
                                            <td>
                                                <span id="<%= order.orderId %>" class="badge bg-info"
                                                    style="width: 120px;">
                                                    <%= order.status %>
                                                </span>
                                                <% if(order.status==="Order Confirmed" ){ %>

                                                    <div class="dropdown d-flex justify-content-center">
                                                        <span class="dropdown-toggle" id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        </span>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <div class="dropdown-item"
                                                                onclick="changeStatus('<%= order.orderId %>','Packed')">
                                                                Packed</div>
                                                            <div class="dropdown-item"
                                                                onclick="changeStatus('<%= order.orderId %>','Shipped')">
                                                                Shipped</div>
                                                            <div class="dropdown-item"
                                                                onclick="changeStatus('<%= order.orderId %>','Out for delivery')">
                                                                Out for delivery</div>
                                                            <div class="dropdown-item"
                                                                onclick="changeStatus('<%= order.orderId %>','Delivered')">
                                                                Delivered</div>
                                                        </div>
                                                    </div>

                                                    <% } %>
                                                        <% if(order.status==="Packed" ){ %>
                                                            <div class="dropdown d-flex justify-content-center">
                                                                <span class="dropdown-toggle" id="dropdownMenuButton"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                </span>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <div class="dropdown-item"
                                                                        onclick="changeStatus('<%= order.orderId %>','Shipped')">
                                                                        Shipped</div>
                                                                    <div class="dropdown-item"
                                                                        onclick="changeStatus('<%= order.orderId %>','Out for delivery')">
                                                                        Out for delivery
                                                                    </div>
                                                                    <div class="dropdown-item"
                                                                        onclick="changeStatus('<%= order.orderId %>','Delivered')">
                                                                        Delivered</div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                                <% if(order.status==="Shipped" ){ %>
                                                                    <div class="dropdown d-flex justify-content-center">
                                                                        <span class="dropdown-toggle"
                                                                            id="dropdownMenuButton"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        </span>
                                                                        <div class="dropdown-menu"
                                                                            aria-labelledby="dropdownMenuButton">
                                                                            <div class="dropdown-item"
                                                                                onclick="changeStatus('<%= order.orderId %>','Out for delivery')">
                                                                                Out for
                                                                                delivery
                                                                            </div>
                                                                            <div class="dropdown-item"
                                                                                onclick="changeStatus('<%= order.orderId %>','Delivered')">
                                                                                Delivered</div>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                                        <% if(order.status==="Out for delivery" ){ %>
                                                                            <div
                                                                                class="dropdown d-flex justify-content-center">
                                                                                <span class="dropdown-toggle"
                                                                                    id="dropdownMenuButton"
                                                                                    data-toggle="dropdown"
                                                                                    aria-haspopup="true"
                                                                                    aria-expanded="false">
                                                                                </span>
                                                                                <div class="dropdown-menu"
                                                                                    aria-labelledby="dropdownMenuButton">
                                                                                    <div class="dropdown-item"
                                                                                        onclick="changeStatus('<%= order.orderId %>','Delivered')">
                                                                                        Delivered</div>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                            </td>
                                            <td>

                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#<%= order.orderId %>"
                                                    data-whatever="@mdo">Details</button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="<%= order.orderId %>" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Order Details
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-lg-12">
                                                            <div class="card mb-4">
                                                                <div class="card-body" style="padding-top:20px">
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">OrderID</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                <%= order.orderId %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Products</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <% order.product.forEach(element=> { %>
                                                                                <img src="/product_images/<%= element.productId.images[0] %>"
                                                                                    alt=""
                                                                                    style="width:80px; height:80px">
                                                                                <p class="text-muted mb-0">
                                                                                    <%= element.productId.product_name
                                                                                        %>&nbsp: x<%= element.quantity
                                                                                            %>&nbsp; ₹<%=
                                                                                                element.productTotal %>
                                                                                                <br>

                                                                                </p>
                                                                                <% }); %>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Order Date</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                <%= order.date %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Delivery Date</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                <%= order.deliveryDate %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Discount</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                ₹<%= order.discountAmount %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Total</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                ₹<%= order.total %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Payment Type</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                <%= order.paymentType %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Status</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">
                                                                                <%= order.status %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% }); %>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </main>

            <script>
                function changeStatus(orderId, value) {
                    $.ajax({
                        url: '/admin/change-status',
                        data: {
                            orderId: orderId,
                            value: value
                        },
                        method: "post",
                        success: (response) => {
                            console.log(response)
                            document.getElementById(orderId).innerHTML = response.value
                            setTimeout(() => {
                                location.reload()
                            })
                        }
                    })
                }
            </script>


            <script src="/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>


            <%- include("../layout/admin/footer.ejs") %>