<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Coupon</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Coupon</li>
                        </ol>
                    </nav>
                </div>
                <a href="/admin/addcoupon" class="btn btn-primary mb-3">Add coupon</a>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Coupon</h5>
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Percentage Off</th>
                                    <th scope="col">Max Discount</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col">Minimum Purchase Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% couponData.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <%= element.code %>
                                        </td>
                                        <td>
                                            <%= element.percentageOff %>
                                        </td>
                                        <td>
                                            <%= element.maxDiscount %>
                                        </td>
                                        <% const date = element.expiryDate %>
                                        <td>
                                            <%= moment(date).format("MMM Do YY") %>
                                        </td>
                                        <td>
                                            <%= element.minimumPurchseAmount %>
                                        </td>
                                        <td>
                                            <%= element.status %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>



            <%- include("../layout/admin/footer.ejs") %>