<%- include("../layout/admin/header.ejs") %>
    <%- include("../layout/admin/navbar.ejs") %>
        <%- include("../layout/admin/sidebar.ejs") %>

            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>View Products</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">View Products</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">                                
                        <div class="card-body">
                            <h5 class="card-title">Recent Sales <span>| Today</span></h5>
                
                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">OrderID</th>
                                        <th scope="col">Delivery Details</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Product Total</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orderData.forEach((order,i) => { %>
                                        
                                        <tr>
                                            <td scope="row"><%= order.orderId %></td>
                                            <td><%= order.deliveryAddress %></td>
                                            <td><% order.product.forEach(element => { %>
                                                <%= element.productId.product_name %> <br><br>   
                                            <% }); %>
                                            </td>
                                            <td>
                                            <% order.product.forEach(element=> { %>
                                                <%= element.quantity %> <br><br><br><br>
                                            <% }); %>
                                            </td>
                                            <td>
                                            <% order.product.forEach(element=> { %>
                                                <%= element.productTotal %> <br><br><br><br>
                                            <% }); %>
                                            </td>
                                            <td><%= order.total %></td>
                                            <td><%= order.paymentType %></td>
                                            <td>
                                                <span id="<%= order.orderId %>" class="badge bg-info" style="width: 120px;"><%= order.status %></span>
                                                <% if(order.status === "Order Confirmed"){ %>

                                                    <div class="dropdown d-flex justify-content-center">
                                                        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        </span>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Packed')" >Packed</div>
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Shipped')" >Shipped</div>
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Out for delivery')" >Out for delivery</div>
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Delivered')" >Delivered</div>
                                                        </div>
                                                    </div>
                                                    
                                                <% } %>
                                                <% if(order.status === "Packed"){ %>
                                                    <div class="dropdown d-flex justify-content-center">
                                                        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        </span>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                    
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Shipped')">Shipped</div>
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Out for delivery')">Out for delivery
                                                            </div>
                                                            <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Delivered')">Delivered</div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% if(order.status==="Shipped" ){ %>
                                                        <div class="dropdown d-flex justify-content-center">
                                                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            </span>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                                    
                                                                <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Out for delivery')">Out for
                                                                    delivery
                                                                </div>
                                                                <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Delivered')">Delivered</div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% if(order.status==="Out for delivery" ){ %>
                                                            <div class="dropdown d-flex justify-content-center">
                                                                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                </span>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <div class="dropdown-item" onclick="changeStatus('<%= order.orderId %>','Delivered')">Delivered</div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                            </td>
                                        </tr>

                                    <% }); %>
                                </tbody>
                            </table>
                
                        </div>
                
                    </div>
                </div>
            </main>

            <script>
                function changeStatus(orderId, value){
                    $.ajax({
                        url: '/admin/change-status',
                        data:{
                            orderId: orderId,
                            value: value
                        },
                        method:"post",
                        success: (response)=>{
                            console.log(response)
                            document.getElementById(orderId).innerHTML =  response.value
                            setTimeout(()=>{
                                location.reload()
                            })
                        }
                    })
                }
            </script>

            



            <%- include("../layout/admin/footer.ejs") %>