<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2">Name</th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                    <th class="column-5">Action</th>
                                </tr>
                                <% cartItems.cart.forEach(element=> { %>
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/product_images/<%= element.productId.images[0] %>" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <%= element.productId.product_name %>
                                        </td>
                                        <td class="column-3">
                                            Rs: <%= element.productId.price %>
                                        </td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
                                                    onclick="incrementQuantity('<%= element.productId._id %>','<%= element.productId.price %>',-1)">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>
                                                <span id="<%= element.productId._id %>"
                                                    class="mtext-104 cl3 txt-center num-product num-product1 p-t-10">
                                                    <%= element.quantity %>
                                                </span>

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
                                                    onclick="incrementQuantity('<%= element.productId._id %>','<%= element.productId.price %>',+1)">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5 <%= element.productId._id %>">
                                            <%= element.productTotalPrice %>
                                        </td>
                                        <td class="column-5">

                                            <a class="btn btn-warning"
                                                href="/cart-remove/<%= element.productId._id %>">Remove</a>

                                        </td>
                                    </tr>
                                    <% }); %>

                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <div class="flex-c-m stext-101 cl2 size-118 p-lr-15 trans-04 m-tb-5">
                                    Cart Total
                                </div>
                            </div>
                            <div>
                                <% if (typeof total !=='undefined' ) { %>
                                    <div class="flex-c-m stext-101 cl2 size-119 p-lr-15 trans-04 m-tb-10">
                                        Rs: <span id="total">
                                            <%= total %>
                                        </span>
                                    </div>

                                    <% } %>
                                    <a href="/gotocheckoutpage">
                                        <div
                                            class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                            Checkout
                                        </div>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <script>
        function incrementQuantity(productId, pPrice, count) {
            let quantity = parseInt(document.getElementById(productId).innerHTML)
            count = parseInt(count)
            $.ajax({
                url: '/increment-quantity',
                data: {
                    productId: productId,
                    count: count,
                    pPrice: pPrice
                },
                method: 'post',
                success: (response) => {
                    console.log(response)
                    document.getElementById(productId).innerHTML = quantity + count
                    document.getElementsByClassName(productId)[0].innerHTML = response.productTotal
                    document.getElementById('total').innerHTML = response.cartTotal
                    console.log(quantity);


                }
            })
        }



    </script>

    <%- include("../layout/user/user_footer.ejs") %>