<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>
    <section>
        <div class="container p-b-20 p-t-20">
            <form id="Myform">
                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <% cartItem.cart.forEach(data=> { %>

                                <input class="d-none" type="text" name="productId" value="<%= data.productId._id %>">
                                <input class="d-none" type="number" name="quantity" value="<%= data.quantity %>">
                                <input class="d-none" type="number" name="productTotal"
                                    value="<%= data.productTotalPrice %>">

                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">
                                            <%= data.productId.product_name %>
                                        </h6>
                                        <small class="text-muted">Quantity <%= data.quantity %>X</small>
                                    </div>
                                    <span class="text-muted">
                                        <%= data.productTotalPrice %>
                                    </span>
                                </li>
                                <% }); %>
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <div class="text-success">
                                            <h6 class="my-0">Promo code</h6>
                                            <small>EXAMPLECODE</small>
                                        </div>
                                        <span id="coupon" class="text-success"></span>
                                        <input id="discount-amount" name="discountAmount" type="text" class="d-none"
                                            value="">
                                        <input id="couponCode" name="couponCode" type="text" class="d-none" value="">
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (INR)</span>
                                        <input id="cart-amount-h" class="d-none" type="text" name="total"
                                            value="<%= cartItem.cartTotalPrice %>">
                                        <strong id="cart-amount-s">
                                            <%= cartItem.cartTotalPrice %>
                                        </strong>
                                    </li>
                        </ul>

                        <form id="coupon-form" class="card p-2">
                            <div class="input-group">
                                <input form="coupon-form" type="text" class="form-control" placeholder="Promo code"
                                    id="coupon-code" onkeydown="upperCaseF(this)" style="text-transform:uppercase">
                                <div class="input-group-append">
                                    <button onclick="applyCoupon('<%= user.cartTotalPrice %>',$('#coupon-code').val())"
                                        form="coupon-form" type="submit" class="btn btn-secondary">Redeem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Select billing Address</h4>
                        <div class="d-block my-3" id="address-div">
                            <div class="px-3 py-3 border">
                                <div class="form-check custom-control custom-radio">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal" data-whatever="@mdo"><i
                                            class="fa fa-plus">&nbsp;</i>Add Address</button>
                                </div>
                            </div>
                            <% address.forEach((e,i)=> { %>
                                <div class="px-3 py-3 border">
                                    <div class="form-check custom-control custom-radio d-block ">
                                        <input class="form-check-input" type="radio" name="address"
                                            id="flexRadioDefault1" value="<%= e.name %>,<%= e.phoneNumber %>,<%= e.houseName %><%= e.street %>,<%= e.district %>,
                                        <%= e.state %>,<%= e.pincode %>" <%=i===0 ? 'checked' : '' %>>
                                        <label class="form-check-label p-l-0" for="flexRadioDefault1">
                                            <%= e.name %>,<%= e.phoneNumber %> <br>
                                                    <%= e.houseName %>,<%=e.street %>,<br>
                                                            <%= e.district %>,<%= e.state %>,
                                                                    <%= e.pincode %>
                                        </label>
                                    </div>
                                </div>
                                <% }); %>
                                    <hr class="mb-4">
                        </div>
                        <h4 class="mb-3">Select Payment Methode</h4>

                        <div class="d-block my-3">
                            <div class="px-3 py-3 border">
                                <div class="form-check custom-control custom-radio">
                                    <input checked class="form-check-input" type="radio" name="paymentMethod"
                                        value="cod" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Cash on delivery
                                    </label>
                                </div>
                            </div>
                            <div class="px-3 py-3 border">
                                <div class="form-check custom-control custom-radio">
                                    <input class="form-check-input" type="radio" name="paymentMethod" value="razorpay"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        RazorPay
                                    </label>
                                </div>
                            </div>
                            <div class="px-3 py-3 border d-flex justify-content-between">
                                <div class="form-check custom-control custom-radio">
                                    <input class="form-check-input" type="radio" name="paymentMethod" value="wallet" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Wallet
                                    </label>
                                </div>
                                <div>
                                    <h5>₹&nbsp;<%= user.wallet %></h5>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Place order</button>
                    </div>
            </form>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Add address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-address-checkoutpage" action="" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone</label>
                            <input type="number" class="form-control" name="phoneNumber" id="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">House name</label>
                            <input type="text" class="form-control" name="houseName" id="houseName">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Street</label>
                            <input type="text" class="form-control" name="street" id="street">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">District</label>
                            <input type="text" class="form-control" name="district" id="district">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">State</label>
                            <input type="text" class="form-control" name="state" id="state">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Pincode</label>
                            <input type="number" class="form-control" name="pincode" id="pincode">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }

        // add address form the checkout page
        $('#add-address-checkoutpage').submit((event) => {
            event.preventDefault()
            $.ajax({
                url: "/add-address-checkoutpage",
                method: 'post',
                data: $('#add-address-checkoutpage').serialize(),
                success: (response) => {
                    console.log(response);
                    $('#exampleModal').on('hidden.bs.modal', function () {
                        $(this).find('form').trigger('reset');
                    });
                    $('#exampleModal').modal('hide')
                    $('#address-div').load('/gotocheckoutpage #address-div')
                }
            })
        })

        //  coupon ajax
        function applyCoupon(cartTotal, couponCode) {
            $.ajax({
                url: '/apply-coupon',
                data: {
                    cartTotal: cartTotal,
                    couponCode: couponCode
                },
                method: 'post',
                success: (response) => {
                    if(response.noCoupon){
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Invalid coupon',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }else if (response.userUsed) {
                        console.log("user already used")
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Already used',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    } else if (response.dateFail) {
                        console.log("date validation failed");
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Coupon expired',
                            showConfirmButton: false,
                            timer: 1500,

                        })
                    } else if (response.minmumAmountFail) {
                        console.log("Minmum amount validation failed")
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Minmum purchase amount',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else if (response.discountedAmount) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Coupon added successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        document.getElementById('coupon').innerHTML = response.discountedAmount
                        document.getElementById("discount-amount").value = response.discountedAmount
                        document.getElementById('cart-amount-s').innerHTML = response.total
                        document.getElementById('cart-amount-h').value = response.total
                        document.getElementById('couponCode').value = couponCode
                        console.log(response.total)

                    }
                }
            })
        }


        //ajax for order confirm page
        $('#Myform').submit((event) => {
            event.preventDefault()
            $.ajax({
                url: '/postcheckout',
                method: 'post',
                data: $('#Myform').serialize(),
                success: (response) => {
                    console.log(response)
                    if (response.codStatus) {
                        location.href = '/orderconfirmation'
                    }else if(response.walletStatus){
                        location.href ="/orderconfirmation" 
                    }else if (response.razorpay) {
                        razorpayPayment(response.order)
                    }else if(response.amoutExceeded){
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Wallet amout exceeded please choose a another method',
                            showConfirmButton: false,
                            timer: 1500,    
                        })
                    }else if(response.address){
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Add address',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }
                }
            })
        })
        function razorpayPayment(order) {

            var options = {
                "key": "rzp_test_kuaoQ12xYod2xn", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Gamezone", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar", //your customer's name
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                },
                "modal":{
                    escape: false,
                    ondismiss: ()=>{
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'Unexpectly closed the payment gateway. Please try again',
                            showConfirmButton: false,
                            timer: 2000,
                        })
                        location.href = "/gotocheckoutpage"
                    }
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                // alert(response.error.code);
                // alert(response.error.description);
                // alert(response.error.source);
                // alert(response.error.step);
                // alert(response.error.reason);
                // alert(response.error.metadata.order_id);
                // alert(response.error.metadata.payment_id);
                // console.log(response)
                faildPayment(response, order)
                rzp1.close();
            }),
            rzp1.open();

        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.payment) {
                        location.href = '/orderconfirmation'
                    }else{
                        alert('payment faild')
                    }
                }
            })
        }
        function faildPayment(data, order){

            $.ajax({
                url:'/faild-payment',
                data:{
                    data,
                    order
                },
                method:'post',
                success: (response)=>{
                    console.log(data)
                    if(response.paymentFailed){
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: 'payment failed',
                            text: data.error.description,
                            showConfirmButton: false,
                            timer: 3500,
                        })
                        setTimeout(() => {
                            location.reload()
                        }, 3000);
                    }
                }
                
            })
        }





    </script>

    <%- include("../layout/user/user_footer.ejs") %>