<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>


    <section>

        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="invoice p-5">
                           
                                
                                <h5>Your order Confirmed!</h5>
                                <span class="font-weight-bold d-block mt-4">Hello, <%= orderDatas.userId.firstName %></span>
                                <span>You order has been confirmed and will be shipped you soon</span>
                                <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="py-2">
                                                        <span class="d-block text-muted">Order Date</span>
                                                        <% const date = orderDatas.date %>
                                                        <span><%= moment(date).format("MMM Do YY") %></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2">
                                                        <span class="d-block text-muted">Payment</span>
                                                        <span class="text-uppercase"><%= orderDatas.paymentType %></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2">
                                                        <span class="d-block text-muted">Shiping Address</span>
                                                        <span><%= orderDatas.deliveryAddress %></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="product border-bottom table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <% orderDatas.product.forEach(element => { %>                                            
                                                <tr>
                                                    <td width="80%">
                                                        <span class="font-weight-bold"><%= element.productId.product_name %></span>
                                                        <div class="product-qty">
                                                            <span class="d-block">Quantity: <%= element.quantity %></span>
                                                        </div>
                                                    </td>
                                                    <td width="20%">
                                                        <div class="text-right">
                                                            <span class="font-weight-bold"><%= element.productTotal %></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content-end">
                                        <div class="col-md-5">
                                            <table class="table table-borderless">
                                                <tbody class="totals">                
                                                    <tr>
                                                        <td>
                                                            <div class="text-left">
                                                                <span class="text-muted">Shipping Fee</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right">
                                                                <span>0</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="text-left">
                                                                <span class="text-muted">Discount</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right">
                                                                <span class="text-success">Rs: <%= orderDatas.discountAmount %></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="border-top border-bottom">
                                                        <td>
                                                            <div class="text-left">
                                                                <span class="font-weight-bold">Total</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right">
                                                                <span class="font-weight-bold">Rs:<%= orderDatas.total %></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                                    <span>Gamezone Team</span>
                                </div>
                                <div>
                                    <a href="/orders" class="btn btn-success">Go to orders</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../layout/user/user_footer.ejs") %>