<%- include("../layout/user/user_header.ejs") %>

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <%- include("../layout/user/user_navbar.ejs") %>

    </header>

    <!-- Product -->
    <section>
        <div class="bg0 m-t-23 p-b-140">
            <div class="container">
                <div class="flex-w flex-sb-m p-b-52">

                    <div class="dis-block panel-search w-full p-t-10 p-b-15">
                        <div class="bor8 dis-flex p-l-15">
                            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>

                            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" placeholder="Search product name"
                                onkeyup="searchProduct(this)">
                        </div>

                    </div>
                    <div class="dis-block panel-search w-full p-t-10 p-b-15" style="z-index: 1;">
                        <div class="dis-block panel-search w-full p-t-10 p-b-15" id="searchResult">

                        </div>
                    </div>

                    <div class="flex-w flex-l-m filter-tope-group m-tb-10" id="reloadDiv">
                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/products" class="text-dark">ALL PRODUCTS</a>
                        </button>


                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=MSI" class="text-dark">MSI</a>
                        </button>

                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=ASUS" class="text-dark">ASUS</a>
                        </button>

                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=RAZER" class="text-dark">RAZER</a>
                        </button>

                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=LENOVO" class="text-dark">LENOVO</a>
                        </button>

                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=DELL" class="text-dark">DELL</a>
                        </button>

                        <button class="b-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            <a href="/filter?brand=ACER" class="text-dark">ACER</a>
                        </button>
                    </div>


                </div>


                <div class="row isotope-grid" style="height: 560px;">
                    <% productData.forEach(element=> { %>
                        <div
                            class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= element.brand %> <%= element.category.categoryName %>">
                            <!-- Block2 -->
                            <div class="block2" style="text-align: center;">

                                <div class="block2-pic hov-img0">
                                    <img src="/product_images/<%= element.images[0] %>" alt="IMG-PRODUCT"
                                        style="width: 255px; height: 185px; object-fit: cover;">

                                    <a href="/singleproductpage/<%= element._id %>"
                                        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="product-detail.html"
                                            class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 pname">
                                            <%= element.product_name %>
                                        </a>

                                        <span class="stext-105 cl3">
                                            Rs : <%= element.price %>
                                        </span>
                                    </div>


                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        <% if(wishlist.includes(element.product_name)){ %>
                                            <a href="" class="btn-addwish-b2 dis-block pos-relative">
                                                <i id="<%= element._id %>" class="fa fa-heart" style="color: red;"></i>
                                            </a>
                                            <% }else{ %>
                                                <a href="" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                                                    onclick="addTowishlist('<%= element._id %>')">
                                                    <i id="<%= element._id %>" class="fa fa-heart"
                                                        style="color: rgb(188, 181, 181);"></i>
                                                </a>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="d-flex justify-content-center m-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <% if (page> 1) { %>
                                    <a class="page-link" href="/products?page=<%= page - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <% } %>
                            </li>

                            <% for (let i=1; i <=totalPages; i++) { %>
                                <% if (i===page) { %>
                                    <li class="page-link text-danger">
                                        <%= i %>
                                    </li>
                                    <% } else { %>
                                        <a class="page-link" href="/products?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                            <% } %>

                                                <li class="page-item">
                                                    <% if (page < totalPages) { %>
                                                        <a class="page-link" href="/products?page=<%= page + 1 %>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                        <% } %>
                                                </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </section>

    <script>
        function addTowishlist(productId) {
            $.ajax({
                url: '/addtowishlist',
                data: {
                    productId: productId,
                },
                method: 'post',
                success: (response) => {

                    document.getElementById(productId).style.color = "red"

                }
            })
        }
        async function searchProduct(data) {
            const searchResult = document.getElementById('searchResult');
            let match = data.value.match(/^[a-zA-Z ]*/)
            let match1 = data.value.match(/\s*/)
            try {
                if (match1 === data.value) {
                    searchResult.innerHTML = ""
                    return;
                }
                if (match[0] === data.value) {
                    const response = await fetch("getProduct", {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ payload: data.value })
                    })
                        .then(res => res.json())
                        .then(data => {
                            let payload = data.payload
                            console.log(payload)
                            searchResult.innerHTML = ''
                            if (payload.length < 0) {
                                searchResult.innerHTML = ""
                            }
                            payload.forEach(element => {

                                searchResult.innerHTML += `
                                <div class="bor8 dis-flex p-l-15 align-items-center text-center" style="background-color: white;">
                                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                    <img src="/product_images/${element.images[0]}"
                                        alt="" style="width: 50px; height: 50px;">
                                </button>
                                <a class="mtext-107 cl2 size-114 plh2 p-r-15" href="/singleproductpage/${element._id}"><span>${element.product_name}</span></a>
                                
                            </div>`

                            });
                            return;

                        })
                }
                if (data.value ==='') {
                    searchResult.innerHTML = ""
                }
            } catch (error) {
                console.error(error);
            }
        }

    </script>



    <%- include("../layout/user/user_footer.ejs") %>