<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">


                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[0]  %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[0]  %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[0]  %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[1] %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[1] %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[1] %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[2] %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[2] %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[2] %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <%= productDetails.product_name %>
                        </h4>

                        <span class="mtext-106 cl2" style="font-size: 22px;">
                            ₹ <%= productDetails.price %>
                        </span>&nbsp;
                        <span class="mtext-106 cl2" style="font-size: 15px;">
                            <s>₹ <%= productDetails.price*120/100 %></s>
                        </span>

                        <p class="stext-102 cl3 p-t-23">
                            <%= productDetails.description %>
                        </p>
                        <% if (productDetails.stock=='0' ) { %>
                            <p class="stext-102 cl3 p-t-23 text-danger font-weight-bold" style="font-size: 17px;">
                                out of stock
                            </p>
                            <% } %>

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <% if (typeof exist !=='undefined' ) { %>
                                            <a href="/cart">
                                                <button
                                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3">
                                                    <%= exist %>
                                                </button>
                                            </a>

                                            <% }else{ %>
                                                <!-- <a href="/addtocart/"> -->
                                                <button
                                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3"
                                                    onclick="addtocart('<%= productDetails._id %>','<%= productDetails.stock %>')">
                                                    Add to cart
                                                </button>
                                                <!-- </a> -->
                                                <% } %>
                                    </div>
                                </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script>

        function addtocart(proId, stock) {
            if (stock == 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'warning',
                    title: 'Out of stock',
                    showConfirmButton: false,
                    timer: 1500,
                })
            } else {
                $.ajax({
                    url: '/addtocart/' + proId,
                    method: 'get',
                    success: (response) => {
                        console.log(response)
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Added to cart successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.href = '/cart'


                    },
                })
            }

        }

    </script>

    <%- include("../layout/user/user_footer.ejs") %>