<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">


                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[0]  %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[0]  %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[0]  %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[1] %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[1] %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[1] %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slick3" data-thumb="/product_images/<%= productDetails.images[2] %>">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/product_images/<%= productDetails.images[2] %>" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/product_images/<%= productDetails.images[2] %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <%= productDetails.product_name %>
                        </h4>

                        <span class="mtext-106 cl2">
                            Rs : <%= productDetails.price %>
                        </span>

                        <p class="stext-102 cl3 p-t-23">
                            <%= productDetails.description %>
                        </p>



                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                <!-- <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product"
                                        value="1">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div> -->
                                <% if (typeof exist !=='undefined' ) { %>
                                    <a href="/cart">
                                        <button
                                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3">
                                            <%= exist %>
                                        </button>
                                    </a>

                                    <% }else{ %>
                                        <a href="/addtocart/<%= productDetails._id %>">
                                            <button
                                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail mt-3">
                                                Add to cart
                                            </button>
                                        </a>
                                        <% } %>
                                            <!-- <button
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3">
                                    Buy now
                                </button> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <%- include("../layout/user/user_footer.ejs") %>