<%- include("../layout/user/user_header.ejs") %>
    <%- include("../layout/user/user_navbar.ejs") %>


        <!-- Cart -->
        <div class="wrap-header-cart js-panel-cart">
            <div class="s-full js-hide-cart"></div>

            <div class="header-cart flex-col-l p-l-65 p-r-25">
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                    <span class="mtext-103 cl2">
                        Your Cart
                    </span>

                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                </div>

                <div class="header-cart-content flex-w js-pscroll">
                    <ul class="header-cart-wrapitem w-full">
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="/user_assets/images/item-cart-01.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    White Shirt Pleat
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $19.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="/user_assets/images/item-cart-02.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    Converse All Star
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $39.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="/user_assets/images/item-cart-03.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    Nixon Porter Leather
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $17.00
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons flex-w w-full">
                            <a href="shoping-cart.html"
                                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                View Cart
                            </a>

                            <a href="shoping-cart.html"
                                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slider -->
        <section class="section-slide">
            <div class="wrap-slick1 rs2-slick1">
                <div class="slick1">
                    <div class="item-slick1 bg-overlay1" style="background-image: url(/user_assets/images/ad-1.jpeg);">
                    </div>

                    <div class="item-slick1 bg-overlay1" style="background-image: url(/user_assets/images/ad-2.jpg);">
                    </div>

                    <div class="item-slick1 bg-overlay1" style="background-image: url(/user_assets/images/razer.jpg);">
                    </div>
                </div>

                
            </div>
        </section>


        <!-- Banner -->
        <div class="sec-banner bg0 p-t-95 p-b-55">
            <div class="container">
                <div class="row">
                    <% category.forEach(element => { %>
                        
                        <div class="col-md-6 p-b-30 m-lr-auto">
                            <!-- Block1 -->
                            <div class="block1 wrap-pic-w">
                                <img src="/product_images/<%= element.categoryImage %>" alt="IMG-BANNER">
                                
                                <a href="#"
                                    class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                    <div class="block1-txt-child1 flex-col-l">
                                        <span class="block1-name ltext-102 trans-04 p-b-8">
                                            <%= element.categoryName %>
                                        </span>
                                    </div>
                                    
                                    <div class="block1-txt-child2 p-b-4 trans-05">
                                        <div class="block1-link stext-101 cl0 trans-09">
                                            Shop Now
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>


        <!-- Product -->
        <section class="bg0 p-t-23 p-b-130">
            <div class="container">
                <div class="p-b-10">
                    <h3 class="ltext-103 cl5">
                        Product Overview
                    </h3>
                </div>
                <div class="row isotope-grid">

                    <% productData.forEach(element=> { %>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <!-- Block2 -->
                            <div class="block2" style="text-align: center;">

                                <div class="block2-pic hov-img0">
                                    <img src="/product_images/<%= element.images[0] %>" alt="IMG-PRODUCT"
                                        style="width: 255px; height: 185px;">

                                    <a href="/singleproductpage/<%= element._id %>"
                                        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="product-detail.html"
                                            class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">    
                                            <%= element.product_name %>
                                        </a>

                                        <span class="stext-105 cl3">
                                            Rs : <%= element.price %>
                                        </span>
                                    </div>


                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        <a href="" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addTowishlist('<%= element._id %>')">
                                            <i id="<%= element._id %>" class="fa fa-heart" style="color: rgb(188, 181, 181);"></i>
                                        </a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                </div>
        </section>

        <script>
            function addTowishlist(productId){
                $.ajax({
                    url: '/addtowishlist',
                    data: {
                        productId: productId,
                    },
                    method: 'post',
                    success: (response) => {
                        
                        document.getElementById(productId).style.color = "red"

                    }
                })
            }
        </script>


        <%- include("../layout/user/user_footer.ejs") %>