<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-left p-l-50">
                            <h6>Hello</h6>
                            <h5 class="my-3 font-weight-bold">
                                <%= userDetails.firstName %>
                                    <%= userDetails.lastName %>
                            </h5>
                            <div class="d-flex justify-content-left mb-2">
                                <button type="button" class="btn btn-primary m-1">Orders</button>
                                <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="@fat">Edit profile</button>
                                <a href="/manageaddress" class="btn btn-primary m-1">Address</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row py-2 px-3">
                                <p class="font-weight-bold">Personal informations</p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.firstName %>
                                            <%= userDetails.lastName %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.username %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.email %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.phone %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.phone %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/edituserprofile" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">First Name</label>
                                <input type="text" class="form-control" name="firstname" id="firstname" value="<%= userDetails.firstName %>">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Last Name</label>
                                <input type="text" class="form-control" name="lastname" id="lastname" value="<%= userDetails.lastName %>">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username" value="<%= userDetails.username %>">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email" value="<%= userDetails.email %>">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Phone</label>
                                <input type="text" class="form-control" name="phone" id="phone" value="<%= userDetails.phone %>">
                            </div>  
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <%- include("../layout/user/user_footer.ejs") %>