<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-left p-l-50">
                            <h6>Hello</h6>
                            <h5 class="my-3 font-weight-bold">
                                <%= userDetails.firstName %>
                                    <%= userDetails.lastName %>
                            </h5>
                            <hr>
                            <div class="d-flex justify-content-between my-5">
                                <h5 class="font-weight-bold">Wallet</h5>
                                <h5>₹<%= userDetails.wallet %></h5>
                            </div>
                            <div class="mb-2">
                                <a href="/orders" class="btn btn-primary m-1 d-block">Orders</a>                                
                                <a class="btn btn-primary m-1 d-block">
                                    <button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Edit profile</button>
                                </a>                                                                
                                <a href="/manageaddress" class="btn btn-primary m-1 d-block">Address</a>
                                <a class="btn btn-primary m-1 d-block">
                                    <button type="button" data-toggle="modal" data-target="#changepassword" data-whatever="@fat">Change password</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row py-2 px-3">
                                <p class="font-weight-bold">Personal informations</p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.firstName %>
                                            <%= userDetails.lastName %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.username %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.email %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.phone %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= userDetails.phone %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- edit profile modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/edituserprofile" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">First Name</label>
                                <input type="text" class="form-control" name="firstname" id="firstname" value="<%= userDetails.firstName %>">
                                <label for="" id="firstname-alert" style="display:none">Fisrt name is required</label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Last Name</label>
                                <input type="text" class="form-control" name="lastname" id="lastname" value="<%= userDetails.lastName %>">
                                <label for="" id="lastname-alert" style="display:none">Last name is required</label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username" value="<%= userDetails.username %>">
                                <label for="" id="username-alert" style="display:none">Username is requried</label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email" value="<%= userDetails.email %>">
                                <label for="" id="email-alert" style="display:none">Email is required</label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Phone</label>
                                <input type="text" class="form-control" name="phone" id="phone" value="<%= userDetails.phone %>">
                                <label for="" id="phone-alert" style="display:none">Phone number is required</label>
                            </div>  
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- change password modal -->
        <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="change-password">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Old password</label>
                                <input type="password" class="form-control" name="oldPassword">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Enter new password</label>
                                <input type="password" class="form-control" name="newPassword">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Confirm new password</label>
                                <input type="password" class="form-control" name="confirmPassword">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                        <div id="alertpassword" class="alert alert-danger" role="alert" style="display: none;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        $('#change-password').submit((event)=>{
            event.preventDefault();
            $.ajax({
                url:"/change-password",
                method: 'post',
                data : $("#change-password").serialize(),
                success: (response)=>{
                    console.log(response)
                    if(response.wrongPassword){
                        $('#alertpassword').attr({style:"display: block"}).html("Old pasword is incorredt")
                        setTimeout(() => {
                            $('#alertpassword').hide()
                        }, 3000);
                    }else if(response.matchfailed){
                        $('#alertpassword').attr({ style: "display: block" }).html("New password doesn't match")
                        setTimeout(() => {
                            $('#alertpassword').hide()
                        }, 3000)
                    }else if(response.change){
                        Swal.fire({
                            toast: true,
                            position: 'bottom-end',
                            icon: 'success',
                            title: 'Password changed successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#changepassword').on('hidden.bs.modal', function () {
                            $(this).find('form').trigger('reset');
                        });
                        $('#changepassword').modal('hide')
                        
                    }
                }
            })
        })
        

        $(document).ready(function () {
                // Get the form element
                const form = $('#exampleModal');

                // Add an event listener to the form's submit button
                form.submit(function (event) {
                    // Prevent the form from submitting by default
                    // event.preventDefault();

                    // Get the input fields
                    const firstname = $('#firstname');
                    const lastname = $('#lastname');
                    const username = $('#username');
                    const email = $('#email');
                    const phone = $('#phone');

                    // Validate the input fields
                    if (firstname.val().trim() === '') {
                        $('#firstname-alert').attr({ style: 'display: block; color:red' })
                        setTimeout(() => {
                            $('#lastname-alert').hide()
                        }, 2000)
                        return false;
                    }

                    if (lastname.val().trim() === '') {
                        $('#lastname-alert').attr({ style: 'display: block; color: red' })
                        setTimeout(() => {
                            $('#lastname-alert').hide()
                        }, 2000)
                        return false;
                    }
                    if (username.val().trim() === '') {
                        $('#username-alert').attr({ style: 'display: block; color: red' })
                        setTimeout(() => {
                            $('#username-alert').hide()
                        }, 2000)
                        return false;
                    }
                    if (email.val().trim() === '') {
                        $('#email-alert').attr({ style: 'display: block; color: red' })
                        setTimeout(() => {
                            $('#email-alert').hide()
                        }, 2000)
                        return false;
                    }
                    if (phone.val().trim() === '') {
                        $('#phone-alert').attr({ style: 'display: block; color: red' })
                        setTimeout(() => {
                            $('#phone-alert').hide()
                        }, 2000)
                        return false;
                    }
                    // Submit the form if all fields are valid
                    form.unbind('submit').submit();

                });
            });



    </script>



    <%- include("../layout/user/user_footer.ejs") %>