<%- include("../layout/user/user_header.ejs") %>
    <header class="header-v4">
        <%- include("../layout/user/user_navbar.ejs") %>
    </header>

    <section class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2">Name</th>
                                    <th class="column-3">Price</th>
                                    <th class="column-5">Action</th>
                                </tr>
                                <% wishData.forEach(element=> { %>

                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/product_images/<%= element.images[0] %>" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <span><%= element.product_name %></span>
                                        </td>
                                        <td class="column-3">
                                            Rs:<%= element.price %>
                                        </td>
                                        <td class="column-5">
                                            <div class="p-1">
                                                <button class="btn btn-danger wish-remove">
                                                    <a href="/removeWishlist/<%= element._id %>" style="color: white;">Remove</a>
                                                </button>
                                            </div>
                                            <div class="p-1">
                                                <button class="btn btn-success wish-add-cart">
                                                    <a href="/addtocart/<%= element._id %>" style="color: white;">Add to cart</a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <% }); %>

                            </table>
                        </div>
                        <% if (wishData=="" ) { %>
                            <div class="text-center p-5">
                                <img src="/images/empty-wishlist.png" alt="">
                                <h4 class="my-3">Empty Wishlist</h4>
                                <h5>You have no items in your wishlist. Start adding!</h5>
                                <a class="btn btn-primary mt-3" href="/products">Shop now</a>
                            </div>
                        
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include("../layout/user/user_footer.ejs") %>